{%extends 'all-posts/base.html'%}
{% block content%}
<html>
<h1>welcome to index bitch !</h1>
{% for image_item in image %}

  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ image_item.title }} </h2>
    </div>

    <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{image_item.image.url}}" class="img-responsive" alt="Image">
    </div>

  </div>
  {% endfor %}
{% endblock%}